# Node.js dependencies
node_modules/
package-lock.json

# Compiled output
dist/
out-tsc/

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
*.env
.env.local

# Angular-specific files
.angular/

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific files
.DS_Store
Thumbs.db
